<div>
  <p>The thought is that spammers follow lots of people while no one follows spammers. So by calculating the followers/following ratio they should be easy to spot. </p>
  <p>Just click the link below and login/accept the app to use your twitter account and a list of twitterers that are following you will appear. Twitterers with "<span class="bad">BAD</span>" standing are the suspected spambots (because they have less than 1 follower for every 100 twitterers they follow). Click the "block this user" to block them. The block seems to take a while to go through. Check users marked "<span class="medium">Medium</span>" too. Some bots manages to get their ratio above 1.3
</div>
<div>
  <%= link_to 'Lets get started', :action=>'filter' %>
</div>